body {
  background-color: white;
}

.home-banner {
  background-image: url("/images/background.1.jpg");
  background-size: cover;
  height: 200px;
  width: 100%;
  padding: 0%;
  position: relative;
  border-radius: 25px;
}

.image {
  color: white;
  text-align: right;
  padding-top: 0px;
  padding-right: 30px;
}

.pic-link {
  color: pink;
}

.title {
  color: white;
  text-align: center;
  font-size: 60px;
  margin-top: 10px;
  padding-top: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.function-one,
.function-two,
.function-three,
.function-four {
  color: rgb(131, 186, 49);
  display: inline-block;
  background-color: rgb(103, 121, 76);
  border: 2px solid green;
  padding: 15px 25px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.function-one:hover,
.function-two:hover,
.function-three:hover,
.function-four:hover {
  background-color: rgb(83, 101, 56);
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  color: pink;
}

.sub-title {
  color: rgb(22, 89, 22);
  text-align: center;
  font-size: 32px;
  margin-top: 50px;
}

.login-body {
  display: flex;
  justify-content: center;
}

.login-box {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

.login-username,
.login-password {
  width: 400px;
  height: 20px;
  margin-bottom: 10px;
}

.growthmindset-response,
.growthmindset-input-box,
.plantseeds-input-box {
  text-align: center;
  padding-bottom: 50px;
}

.growthmindset-input-box,
.plantseeds-input-box {
  color: rgb(22, 89, 22);
}

.growthmindset-response {
  font-size: 32px;
  margin-top: 30px;
  color: rgb(103, 121, 76);
}

input {
  width: 600px;
}

.planting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seed {
  width: 200px;
  height: 200px;
}

.goal {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: rgb(103, 121, 76);
}
